.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacer;
  background-color: $primary;
}

.dataCard {
  z-index: 1;
  width: 100%;
  max-width: 350px;

  .title {
    margin-bottom: 0;
    text-align: center;

    hr {
      margin: $spacer 0;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
  }
}
