@use 'styles/utils';

.content {
  ul,
  ol {
    & > li > input {
      margin-top: 0;
      margin-right: 0.5em;
      margin-bottom: 0.15em;
      vertical-align: middle;
    }
  }

  figure {
    figcaption {
      @apply text-center;
    }
  }
}
