@use 'styles/utils';

.content {
  ul,
  ol {
    & > li > input {
      margin-top: 0;
      margin-right: 0.5em;
      margin-bottom: 0.15em;
      vertical-align: middle;
    }
  }

  figure {
    figcaption {
      @apply text-center;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) a {
    font-weight: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
